
/*Contact Information Block*/
div.region-sidebar-first {
	box-shadow: none;
	border: none;
  background-color: transparent;
}

section#block-snazzisweets-base-snazzi-contact {
	padding-bottom: 70px;
}  
section#block-snazzisweets-base-snazzi-contact div.panel,
section#block-snazzisweets-base-snazzi-contact div.panel-group {
	background-color: transparent;
	border: none;
	box-shadow: none;
} 
section#block-snazzisweets-base-snazzi-contact div#email-menu,
section#block-snazzisweets-base-snazzi-contact div#phone-menu,
section#block-snazzisweets-base-snazzi-contact div#location-menu {
  font-size: 2.3rem;
}
section#block-snazzisweets-base-snazzi-contact div#email-menu a:hover,
section#block-snazzisweets-base-snazzi-contact div#phone-menu a:hover,
section#block-snazzisweets-base-snazzi-contact div#location-menu a:hover{
  text-decoration: none;
}
section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-email {
  background-color: #F4F3C1;
  border: 1px outset #FFD800;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem 4rem;
  font-size: 2rem;
}
section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-phone {
  background-color: #DFFEFF;
  border: 1px outset #8CFDFF;
  border-radius: 1rem;
  padding: 1rem 4rem;
  font-size: 2rem;
}
section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-location {
  background-color: #F4F3C1;
  border: 1px outset #FFD800;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  padding: 1rem 4rem;
  font-size: 2rem;
}    

@media (max-width: 992px) and (min-width: 768px){
	section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-email,
	section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-phone,
	section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-location	{
		padding: 6px 12px;
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	div.region-sidebar-first {
		background: transparent;
		background-image: none;
		background-color: transparent;
		padding: 0;
    width: 60%;
    margin: 0 auto;
	}
	section#block-snazzisweets-base-snazzi-contact {
		padding: 7px;
		border-radius: 10px;
		background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
	}  
	section#block-snazzisweets-base-snazzi-contact div.collapse {
		padding: 4px;
	}
	section#block-snazzisweets-base-snazzi-contact div#email-menu a:before{
	  content: "\f0e0";
	  font-family: FontAwesome;
	  padding-right: 5px;
	}
	section#block-snazzisweets-base-snazzi-contact div#phone-menu a:before{
	  content: "\f095/\f10b";
	  font-family: FontAwesome;
	  padding-right: 10px;
	}
  section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-email {
    padding: 0.5rem 4rem;
  }
  section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-phone {
    padding: 0.5rem 4rem;
  }
  section#block-snazzisweets-base-snazzi-contact button.btn-block.snazzi-location {
    padding: 0.5rem 4rem;
  }  
}
@media (max-width: 450px) {
	button.snazzi-email,
	button.snazzi-phone,
	button.snazzi-location {
		font-size: 1.5rem !important; /*override aboves 2rem*/
	}
}


section#block-snazzisweets-base-snazzi-contact div.snazzi-email-title,
section#block-snazzisweets-base-snazzi-contact div.snazzi-phone-title {
  font-size: 2.5rem;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-email-title:before{
  content: "\f0e0";
  font-family: FontAwesome;
  padding-right: 5px;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-phone-title:before{
  content: "\f095/\f10b";
  font-family: FontAwesome;
  padding-right: 10px;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-email-contents,
section#block-snazzisweets-base-snazzi-contact div.snazzi-phone-contents,
section#block-snazzisweets-base-snazzi-contact div.snazzi-location-contents {
	font-size: 1.5rem;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-location-contents {
  margin-top: 15px
}

