

/*Footer which includes copyright*/
footer.footer {
	background-color: #C1D1F3;
	color: #131516;
  border: 4px solid #719CF2;
}

/*Copyright block aligned-right*/
li.snazzi-footer {
	list-style: none;
	float: right;
	font-size: 2rem;
}

