/*Set the logo and brand sizes*/
a.logo img{
	width: 64px; 
}
 
a.navbar-brand{
  line-height: 4rem;
}
.navbar-nav li a{
	line-height: 4rem;
}
@media(max-width:767px){
  div.navbar-header {
    display: flex;
    justify-content: space-between;
  }
  button.navbar-toggle {
    background-color: #C1D1F3;
    border: 2px solid #719CF2 !important;
    font-size: 2rem;
  }
  button.btn-block {
    border: 2px solid #F2EC3A;;
    background-color: #F4F3C1;
  }
  ul.navbar-nav li {
    text-align: center;
  }
  ul#snazzi-cart{
    display: initial;
    float: none;
  }
}

ul#snazzi-cart{
	float:right;
}
ul#snazzi-cart a:before {
  content: "\f07a";
  font-family: FontAwesome;
  padding-right: 5px;
}

/*Main Navbar background and foreground color*/
header#navbar {
	width:100%;
	max-width: none;
	background-color: #C1D1F3;
  border: 2px solid #719CF2;
}

/*Welcome to SnazziSweets*/
h1.page-header {
	color: #131516;
	text-align: center;
	font-size: 8rem;
}

/*Sets the line height of the top menu*/
@media(max-width:992px){
	h1.page-header {
    font-size: 6rem;
  }
}

/*Menu items in navbar*/
header#navbar a {
	color: #131516;
	font-size: 3rem;
}

/*Menu items in navbar (active)*/
header#navbar a.active{
	color: #555;
}

/*SnazziSweets brand*/
header#navbar a.name {
	font-size: 4rem;
}
