/**
 * Place your custom styles here.
 */

/*Set site color*/
body {
	bacground: #E3DBD0;
	background: linear-gradient(#FFB6D4, #EAD0F4);
}

/*Set overall font size*/
header, footer, .container {
	font-size: 1.5rem;
}