/**
 * Place your custom styles here.
 */

/*Set the logo and brand sizes*/
a.logo img{
	width: 64px; 
}
 
a.navbar-brand{
	line-height: 64px;
}

/*Sets the line height of the top menu*/
@media(min-width:1200px){
	.navbar-nav li a{
		line-height: 64px;
	}
}

/*Set front page body*/
body.front article.node-page {
  text-align: center;
}
body.front article.node-page div.field-name-body p {
  font-size: 2rem;
}
body.front article.node-page div.field-name-body p span.snazzi-brand {
  font-size: 3rem;
}

/*Slide homepage banner*/
div.slick-slide div.slide__content {
  border: 5px solid black;
  border-radius: 20px;
}

/*Set site color*/
body {
	bacground: #E3DBD0;
	background: linear-gradient(#FFB6D4, #EAD0F4);
}

/*Set overall font size*/
header, footer, .container {
	font-size: 1.5rem;
}

/*Contact Information Block*/
div.region-sidebar-first {
	background: transparent;
	box-shadow: none;
	border: none;
}

section#block-snazzisweets-base-snazzi-contact {
    box-shadow: 0px 0px 10px black;
	padding: 10px;
	border-radius: 10px;
	background-color: #F4F3C1;
}    
section#block-snazzisweets-base-snazzi-contact div.snazzi-email-title,
section#block-snazzisweets-base-snazzi-contact div.snazzi-phone-title {
  font-size: 2.5rem;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-email-title:before{
  content: "\f0e0";
  font-family: FontAwesome;
  padding-right: 5px;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-phone-title:before{
  content: "\f095/\f10b";
  font-family: FontAwesome;
  padding-right: 10px;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-email-contents,
section#block-snazzisweets-base-snazzi-contact div.snazzi-phone-contents,
section#block-snazzisweets-base-snazzi-contact div.snazzi-location-contents {
	font-size: 1.5rem;
}
section#block-snazzisweets-base-snazzi-contact div.snazzi-location-contents {
  margin-top: 15px
}


ul#snazzi-cart{
	float:right;
}



/*Center the carousel images on homepage*/
.carousel-inner img {
	margin: auto;
}

.row-buffer { 
	margin-bottom: 20px;
	border-bottom: 1px solid;
}

/*Main Navbar background and foreground color*/
header#navbar {
	width:100%;
	max-width: none;
	background-color: #C1D1F3;
	border-color: #709DEE;
}

/*Welcome to SnazziSweets*/
h1.page-header {
	color: #131516;
	text-align: center;
	font-size: 8rem;
  
}

/*Menu items in navbar*/
header#navbar a {
	color: #131516;
	font-size: 3rem;
}

/*Menu items in navbar (active)*/
header#navbar a.active{
	color: #555;
}

/*SnazziSweets brand*/
header#navbar a.name {
	font-size: 4rem;
}

/*Footer which includes copyright*/
footer.footer {
	background-color: #C1D1F3;
	color: #131516;
	border: 4px solid #719CF2;
}

/*Copyright block aligned-right*/
li.snazzi-footer {
	list-style: none;
	float: right;
	font-size: 2rem;
}



/*COMMON Banner items on Cookies & Comfy Cupcakes*/
div.pane-cookie-jar-banner div.view-content > div,
div.pane-snazzi-comfy-cupcake div.view-content > div {
	display: inline-block;
	padding: 0 5px 0 5px;
}

body.page-cookies div.pane-cookie-jar-banner, 
body.page-cupcakes div.pane-snazzi-comfy-cupcake {
	text-align: center;
}

/*COMMON Fancybox hidden content for Cookies & Comfy Cupcake*/
div.vertical-align {
	display: flex;
	align-items: center;
}

div.view-display-id-cookie_jar_cart_contents div.view-content > div,
div.view-display-id-comfy_cupcake_contents div.view-content > div{
	display: none;
}

/*COMMON Fancybox details when expanded*/
/*START Flexbox overall layout*/
div.fancybox-inner div.node-snazzi-cookie,
div.fancybox-inner div.node-snazzi-cupcake {
	display: inline-flex;
}
div.fancybox-inner div.node-snazzi-cookie div.snazzi-details-row-title,
div.fancybox-inner div.node-snazzi-cupcake div.snazzi-details-row-title {
	flex-basis: 15rem;
}
div.fancybox-inner div.node-snazzi-cookie div.snazzi-details-row-body,
div.fancybox-inner div.node-snazzi-cupcake div.snazzi-details-row-body {
	flex-basis: 60rem;
}
div.fancybox-inner div.node-snazzi-cookie div.snazzi-details-row-addtocart,
div.fancybox-inner div.node-snazzi-cupcake div.snazzi-details-row-addtocart {
	margin-left: 15rem;
}
/*END Flexbox overall layout*/

/*START Flexbox AddToCart layout*/
div.fancybox-inner div.node-snazzi-cookie div.snazzi-details-row-addtocart form > div,
div.fancybox-inner div.node-snazzi-cupcake div.snazzi-details-row-addtocart form > div {
	display: flex;
	flex-direction: column;
}
/*END Flexbox AddToCart layout*/

/*START Flexbox Title layout*/
div.fancybox-inner div.node-snazzi-cookie div.snazzi-details-row-title div.snazzi-details-title h2,
div.fancybox-inner div.node-snazzi-cupcake div.snazzi-details-row-title div.snazzi-details-title h2  {
	margin: 0;
	font-size: 1.5rem;
}
/*END Flexbox Title layout*/




/*A Piece of Cake Styles*/
div.view-snazzi-cake-carousel div.carousel-inner {
	text-align: center;
}

/*JQUERY Added Classes*/

