/**
 * Place your custom styles here.
 */

/*Set the logo and brand sizes*/
a.logo img{
	width: 64px; 
}
 
a.navbar-brand{
	line-height: 64px;
}

/*Sets the line height of the top menu*/
@media(min-width:1200px){
	.navbar-nav li a{
		line-height: 64px;
	}
}

/*Set site color*/
body {
	bacground: #E3DBD0;
	background: linear-gradient(#E3DBD0, #FFFFFF);
}

/*Set overall font size*/
p, span {
	font-size: 3rem;
}

/*Center the carousel images on homepage*/
.carousel-inner img {
	margin: auto;
}

.row-buffer { 
	margin-bottom: 20px;
	border-bottom: 1px solid;
}

/*Main Navbar background and foreground color*/
header#navbar {
	width:100%;
	max-width: none;
	background-color: #C3BDAF;
}

/*Welcome to SnazziSweets*/
h1.page-header {
	color: #131516;
	text-align: center;
	font-size: 8rem;
}

/*Menu items in navbar*/
header#navbar a {
	color: #131516;
	font-size: 3rem;
}

/*Menu items in navbar (active)*/
header#navbar a.active{
	color: #555;
}

/*SnazziSweets brand*/
header#navbar a.name {
	font-size: 4rem;
}

/*Footer which includes copyright*/
footer.footer {
	background-color: #C3BDAF;
	color: #131516;
}

/*Copyright block aligned-right*/
li.snazzi-footer {
	list-style: none;
	float: right;
	font-size: 2rem;
}




/*Banner items in Cookie Jar*/
div.pane-cookie-jar-banner div.view-content > div{
	display: inline-block;
	padding: 0 5px 0 5px;
}
body.page-cookies div.pane-cookie-jar-banner {
	text-align: center;
}





/*Banner items in Comfy Cupcake*/
body.page-cupcakes div.pane-snazzi-comfy-cupcake-banner {
	text-align: center;
}
body.page-cupcakes div.pane-snazzi-comfy-cupcake-banner div.view-content > div{
	display: inline-block;
	padding: 0 5px 0 5px;
}





/*COMMON Fancybox hidden content for Cookies & Comfy Cupcake*/
div.vertical-align {
	display: flex;
	align-items: center;
}

div.views-field-body div.snazzi-title,
div.views-field-body div.snazzi-photo, 
div.views-field-body div.snazzi-body,
div.views-field-body div.snazzi-price,
div.views-field-body div.snazzi-cart {
	display: none;
}

div.snazzi-title {
	text-align: center;
    font-size: 5rem;
}
div.snazzi-photo {
	text-align: center;
}

div.snazzi-body p {
	font-size: 3rem;
	font-weight: 700;
}
div.snazzi-price li {
	list-style: none;
	font-size: 4rem;
	font-weight: 700;
}



/*A Piece of Cake Styles*/
div.view-snazzi-cake-carousel div.carousel-inner {
	text-align: center;
}

/*JQUERY Added Classes*/

